$black: #000;
$white: #fff;
$gray: #eee;
$red: #e00;
$transparent: transparent;
$bg-color: rgb(243, 244, 248);
$default-gray: rgb(204, 204, 204);

$font-family: 'Roboto', sans-serif;

$button-default-color: #616c79;
$button-default-disabled-color: #313b48;

$button-green-color: #84b433;
$button-green-disabled-color: #84b43340;

$link-color: #968a65;
$input-border-color: #ccc;
