@import './themes/index';

@mixin fadeIn {
  animation: materialize;
  animation-duration: 0.4s;
}

@mixin sizeUp($duration) {
  animation: sizeUp-animation;
  animation-duration: $duration;
}

@mixin sizeDown($duration) {
  animation: sizeDown-animation;
  animation-duration: $duration;
}

@mixin box-sizing() {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
