@import './themes/index';

@mixin fadeIn {
  animation: materialize;
  animation-duration: 0.4s;
}

@mixin sizeUp($duration) {
  animation: sizeUp-animation;
  animation-duration: $duration;
}

@mixin sizeDown($duration) {
  animation: sizeDown-animation;
  animation-duration: $duration;
}
